@charset "utf-8";

body {
  background: #efefef;
}

#btn {
  margin: 100px auto 0;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: #9F454A;
  text-align: center;
  line-height: 400px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}
